<?xml version="1.0" encoding="UTF-8" ?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="myService" class="com.comi.ap.service.MyService"/>

	<bean id="app" class="com.comi.ap.App">
		<property name="myService" ref="myService"></property>
	</bean>


</beans>